*{
    padding: 0;
    margin:  0;
}

body{
    height: 200vh;
    width: 100vw;
}

.header{
    padding: 0;
    margin: 0;
    height: 75vh ;
    width:100%;
    background-image: url(media/navimage.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}


.topbar{
    height: 10vh;
    width:  100vw;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    

}

#logo{
    padding-top:1vh;
    padding-left: 4vw;
    height: 7.5vh;
    width: 20vw;
    overflow-y: auto;
}

#menu{
    padding-top: 2vh;
    padding-right: 2vw;
    height: 5vh;
    width: 10vw;
    overflow-y: auto;
}

#main{
    color: oldlace;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:8vw ;
    text-align: center;
    word-spacing: 2vw;
}

#sub{

    padding:10vw 10vw;
    color: oldlace;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 375;
    font-size: 4vw;
    text-align: center;
    word-spacing: 1vw;
}

.destinationform{
    height: 55vh;
    width: 70vw;
    padding-top: 3vh;
    margin-left:15vw ;
    margin-right:15vw ;
    margin-top: 15vw;
    margin-bottom: 15vw;
    border-radius: 5vw;
    border: 1vw black none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 01px 0.5px 25px  rgb(236, 220, 220);

}
.head2{
    /* padding-top: 10%; */
    padding-left: 10%;
    padding-right: 10%;
}

.head3{
        padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
}

form{
    padding-left: 0 4vw;
    margin: 1vh 3vw;
}

input[type=text]{
    width: 100%;
    height: 5vh;
    border-radius: 10vw;
    box-sizing: border-box;
    padding:5%  ;
    font-size: 4vw;
    font-weight: 400;
}

/* #Location{
    background-image: url(media/pin.png);
    background-repeat: no-repeat;
    background-position: 10px  center;
    background-size: 16px 16px;
    padding-left: 10px  ;
    height: 40px;
} */


input[type=date]{
    width: 100%;
    height: 5vh;
    border-radius: 10vw;
    box-sizing: border-box;
    padding: 5%;
    font-size: 3.5vw;
    font-weight: 400;

}



.submit{
    
    background-color: rgb(250, 60, 95);
    text-align: center;
    color: aliceblue;
    border-radius: 40vw;
    width: 80%;
    height: 15%;
    box-sizing: border-box;
    padding: .25vw;
    margin: 10%;
}

label{
    opacity: 40%;
    padding-left: 5%;
}

